{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="intro-banner-wrap">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGQ5eIymeLHz6b6-6zR4XfsmX6enbRY_trPQ&usqp=CAU" class="img-fluid rounded" width="100%">
	</div>
</div>
<br>
<br>
<section>
<div class="container">
<header class="section heading">
	<a href="/store" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular prouducts</h3>
	<br>
	<br>
</header>
<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div href="{{product.get_url}}" class="card card-product-grid">
			<a href="{{product.get_url}}" class="img-wrap"> <img src="{{product.images.url}}"> </a>
			<figcaption class="info-wrap">
				<a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
				<div class="price mt-1">&#8377;{{product.price}}</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}

</div> <!-- row.// -->
</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->


<!-- ========================= SECTION  ========================= -->

    <!-- ========================= SECTION  END// ======================= -->
    
{% endblock %}

</body>
</html>